# ignore everything
*

# unignore everything within elisp
!elisp/
!elisp/*
!elisp/**/*

# unignore everything within elpa
!elpa/
!elpa/*
!elpa/**/*

# unignore the rest
!init.el
!config.org
!README.org
!.gitignore
